nav.social-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  a {
    display: flex;
    align-items: center;
    img {
      width: 20px;
      height: 20px;
      transition: all 0.3s linear;
    }
  }
  a:hover img {
    filter: invert(50%);
  }
}
